@import 'Colors.scss';

nav {
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    >h2 {
        text-transform: uppercase;
        color: $primary;
    }
    > div {
        display: flex;
        align-items: center;
        
        > a {
            color: $primary;
            font-size: 1.2rem;
            margin: 0 1rem;
            transition: all .3s;
            &:hover .icon{
                opacity: .8;
                color: $tertiarydark;
            }
            > p {
                position: absolute;
                background-color: $tertiary;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                font: 900 1rem "Robotto";
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(100%, -200%);
            }
        }
    }
}